<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STUDENT MANAGEMENT</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
        /* Add any additional styles here */
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin</a> 
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;"> Last access : 23 April 2024 &nbsp; 
            <a href="/login" class="btn btn-danger square-btn-adjust">Đăng xuất</a> </div>
        </nav>   
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
               <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="/img/find_user.png" class="user-image img-responsive"/>
                    </li>                            
                    <li>
                        <a  href="/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                      <li>
                        <a  href="/SinhVien/all"><i class="fa fa-user fa-3x"></i> Sinh viên</a>
                    </li>
                    <li>
                        <a  href="/LopHoc/all"><i class="fa fa-users fa-3x"></i> Lớp học</a>
                    </li>
                           <li  >
                        <a  href="/Khoa/all"><i class="fa fa-file-text fa-3x"></i> Khoa</a>
                    </li>    
                      <li  >
                        <a  href="/MonHoc/all"><i class="fa fa-table fa-3x"></i>Môn học</a>
                    </li>
                    <li  >
                        <a  href="/DiemThi/all"><i class="fa fa-edit fa-3x"></i> Điểm số </a>
                    </li>                
        			<li>
                        <a href="/admin/manage-roles"><i class="fa fa-cog fa-3x"></i> Quản trị</a>
                    </li>
                </ul>
            </div>
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">                      
                <h1>Thêm Sinh Viên</h1>
                <div th:if="${error}" class="alert alert-danger">
        <strong>Thông báo:</strong> <span th:text="${error}"></span>
    </div>
              <!-- Add Sinh Viên Form -->
                <form th:action="@{/SinhVien/sav}" th:object="${DSSinhVien}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="maSinhVien">Mã SV:</label>
                        <input type="text" class="form-control" th:field="*{maSinhVien}" name="maSinhVien" required>
                    </div>
                    <div class="form-group">
                        <label for="hoTen">Tên SV:</label>
                        <input type="text" class="form-control" th:field="*{hoTen}" name="hoTen">
                    </div>
                    <div class="form-group">
                        <label for="ngaySinh">Ngày sinh:</label>
                        <input type="date" class="form-control" th:field="*{ngaySinh}" name="ngaySinh">
                    </div>
                    <div class="form-group">
                        <label for="gioiTinh">Giới tính:</label>
                        <select class="form-control" th:field="*{gioiTinh}" name="gioiTinh">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="noiSinh">Nơi sinh:</label>
                            <input type="text" class="form-control" th:field="*{noiSinh}" name="noiSinh">
                    </div>                   
                    <div class="form-group">
                        <label for="maLop">Mã Lớp</label>
                        <select class="form-control" id="maLop" name="maLop" required>
                            <option value="" disabled selected>Chọn Lớp</option>
                            <th:block th:each="lop : ${DSLopHoc}">
                                <option th:value="${lop.maLop}" th:text="${lop.maLop}"></option>
                            </th:block>
                        </select>
                    </div>
                        <button type="submit" class="btn btn-primary">Thêm Sinh Viên</button>
                        <a href="/SinhVien/all" class="btn btn-secondary">Hủy</a>
                </form>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/js/custom.js"></script>     
</body>
</html>