<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STUDENT MANAGEMENT</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin</a> 
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;"> Last access : 23 April 2024 &nbsp; 
            <a href="/login" class="btn btn-danger square-btn-adjust">Đăng xuất</a> </div>
        </nav>   
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="/img/find_user.png" class="user-image img-responsive"/>
                    </li>							
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/SinhVien/all"><i class="fa fa-user fa-3x"></i> Sinh viên</a>
                    </li>
                    <li>
                        <a href="/LopHoc/all"><i class="fa fa-users fa-3x"></i> Lớp học</a>
                    </li>
                    <li>
                        <a href="/Khoa/all"><i class="fa fa-file-text fa-3x"></i> Khoa</a>
                    </li>
                    <li>
                        <a href="/MonHoc/all"><i class="fa fa-table fa-3x"></i>Môn học</a>
                    </li>
                    <li>
                        <a href="/DiemThi/all"><i class="fa fa-edit fa-3x"></i> Điểm số</a>
                    </li>				
                </ul>
            </div>
        </nav>  
        <div id="page-wrapper">
            <div id="page-inner">                      
                <h1>Danh sách điểm thi</h1>
                <a href="/DiemThi/adddt" class="btn btn-primary">Thêm điểm thi</a>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Mã môn học</th>
                            <th>Tên môn học</th>
                            <th>Mã sinh viên</th>
                            <th>Tên sinh viên</th>
                            <th>Điểm quá trình</th>
                            <th>Điểm giữa kỳ</th>
                            <th>Điểm cuối kỳ</th>
                            <th>Điểm trung bình</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dt : ${DSDiemThi}">
                            <td th:text="${dt.diemThi.maMonHoc}"></td>
                            <td th:text="${dt.tenMonHoc}"></td>
                            <td th:text="${dt.diemThi.maSinhVien}"></td>
                            <td th:text="${dt.tenSinhVien}"></td>
                            <td th:text="${dt.diemThi.diemQuaTrinh}"></td>
                            <td th:text="${dt.diemThi.diemGiuaKy}"></td>
                            <td th:text="${dt.diemThi.diemCuoiKy}"></td>
                            <td th:text="${dt.diemThi.diemTrungBinh}"></td>
                            <td>
                                <a th:href="@{/DiemThi/edit/{maMonHoc}/{maSinhVien}(maMonHoc=${dt.diemThi.maMonHoc}, maSinhVien=${dt.diemThi.maSinhVien})}" class="btn btn-primary">Cập nhật</a>
                                <a th:href="@{/DiemThi/delete/{maMonHoc}/{maSinhVien}(maMonHoc=${dt.diemThi.maMonHoc}, maSinhVien=${dt.diemThi.maSinhVien})}" class="btn btn-warning" onclick="return confirm('Bạn có chắc chắn muốn xóa điểm thi này?');">Xóa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.metisMenu.js"></script>
    <script src="/js/custom.js"></script>     
</body>
</html>