<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý Khoa</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin</a>
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;"> Last access : 23 April 2024 &nbsp; 
            <a href="/login" class="btn btn-danger square-btn-adjust">Đăng xuất</a> </div>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
              <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="/img/find_user.png" class="user-image img-responsive"/>
					</li>							
                    <li>
                        <a  href="/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                      <li>
                        <a  href="/SinhVien/all"><i class="fa fa-user fa-3x"></i> Sinh viên</a>
                    </li>
                    <li>
                        <a  href="/LopHoc/all"><i class="fa fa-users fa-3x"></i> Lớp học</a>
                    </li>
						   <li  >
                        <a  href="/Khoa/all"><i class="fa fa-file-text fa-3x"></i> Khoa</a>
                    </li>	
                      <li  >
                        <a  href="/MonHoc/all"><i class="fa fa-table fa-3x"></i>Môn học</a>
                    </li>
                    <li  >
                        <a  href="/DiemThi/all"><i class="fa fa-edit fa-3x"></i> Điểm số </a>
                    </li>				
					<li>
                        <a href="/admin/manage-roles"><i class="fa fa-cog fa-3x"></i> Quản trị</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div id="page-inner">
                <h1>Danh sách Khoa</h1>               
                <a href="/Khoa/add" class="btn btn-primary">Thêm Khoa</a>
                <form action="/Khoa/search" method="GET">
    <div class="form-group">
        <label for="searchCriteria">Chọn tiêu chí:</label>
        <select class="form-control" id="searchCriteria" name="criteria">
            <option value="maKhoa">Mã khoa</option>
            <option value="tenKhoa">Tên khoa</option>
        </select>
    </div>
    <div class="form-group">
        <label for="searchValue">Nhập giá trị tìm kiếm:</label>
        <input type="text" class="form-control" id="searchValue" name="value" required>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Mã Khoa</th>
                            <th>Tên Khoa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="kh : ${DSKhoa}">
                            <td th:text="${kh.maKhoa}"></td>
                            <td th:text="${kh.tenKhoa}"></td>
                            <td>
                                <a th:href="@{'/Khoa/edit/' + ${kh.maKhoa}}" class="btn btn-primary">Cập nhật</a>
                                <a th:href="@{'/Khoa/delete/' + ${kh.maKhoa}}" class="btn btn-warning" onclick="return confirm('Bạn có chắc chắn muốn xóa khoa này?');">Xóa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- Pagination -->
                <div>
                   <ul class="pagination">
    				<li th:classappend="${currentPage == 0} ? 'disabled'">
        				<a th:href="@{/Khoa/all(page=${currentPage == null ? 0 : currentPage - 1})}" aria-label="Previous">
            				<span aria-hidden="true">&laquo;</span>
        				</a>
    				</li>
    				<li th:each="i : ${#numbers.sequence(0, totalPages == null ? 0 : totalPages - 1)}"
       						 th:classappend="${i == (currentPage == null ? 0 : currentPage)} ? 'active'">
        				<a th:href="@{/Khoa/all(page=${i})}" th:text="${i + 1}">1</a>
    				</li>
    				<li th:classappend="${(currentPage == null ? 0 : currentPage) + 1 == (totalPages == null ? 0 : totalPages)} ? 'disabled'">
        				<a th:href="@{/Khoa/all(page=${currentPage == null ? 0 : currentPage + 1})}" aria-label="Next">
            					<span aria-hidden="true">&raquo;</span>
        				</a>
    				</li>
					</ul>
                </div>
            </div>
            </div>
        </div>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.metisMenu.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>
