<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STUDENT MANAGEMENT</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin</a> 
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;"> Last access : 23 April 2024 &nbsp; 
            <a href="/login" class="btn btn-danger square-btn-adjust">Đăng xuất</a> </div>
        </nav>   
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
               <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="/img/find_user.png" class="user-image img-responsive"/>
					</li>							
                    <li>
                        <a  href="/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                      <li>
                        <a  href="/SinhVien/all"><i class="fa fa-user fa-3x"></i> Sinh viên</a>
                    </li>
                    <li>
                        <a  href="/LopHoc/all"><i class="fa fa-users fa-3x"></i> Lớp học</a>
                    </li>
						   <li  >
                        <a  href="/Khoa/all"><i class="fa fa-file-text fa-3x"></i> Khoa</a>
                    </li>	
                      <li  >
                        <a  href="/MonHoc/all"><i class="fa fa-table fa-3x"></i>Môn học</a>
                    </li>
                    <li  >
                        <a  href="/DiemThi/all"><i class="fa fa-edit fa-3x"></i> Điểm số </a>
                    </li>				
					<li>
                        <a href="/admin/manage-roles"><i class="fa fa-cog fa-3x"></i> Quản trị</a>
                    </li>
                </ul>
            </div>
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
             <div th:if="${error}" class="alert alert-danger">
                    <strong>Thông báo:</strong> <span th:text="${error}"></span>
                </div>                      
              <h1>Cập nhật lớp học</h1>
              <form th:action="@{/LopHoc/update}" th:object="${DSLopHoc}" method="post">
                  <div class="form-group">
                      <label for="maLop">Mã lớp</label>
                      <input type="text" class="form-control" id="maLop" name="maLop" th:field="*{maLop}" readonly>
                  </div>
                  <div class="form-group">
                      <label for="tenLop">Tên lớp</label>
                      <input type="text" class="form-control" id="tenLop" name="tenLop" th:field="*{tenLop}" >
                  </div>
                  <div class="form-group">
                        <label for="heDaoTao">Hệ đào tạo</label>
                        <select class="form-control" id="heDaoTao" name="heDaoTao" th:field="*{heDaoTao}" required>
                            <option value="Cử nhân" th:selected="${DSLopHoc.heDaoTao == 'Cử nhân'}">Cử nhân</option>
                            <option value="Thạc sĩ" th:selected="${DSLopHoc.heDaoTao == 'Thạc sĩ'}">Thạc sĩ</option>
                        </select>
                    </div>
                  <div class="form-group">
                      <label for="siSo">Sĩ số</label>
                      <input type="number" class="form-control" id="siSo" name="siSo" th:field="*{siSo}" required>
                  </div>
                  <div class="form-group">
                        <label for="khoa">Khoa</label>
                        <select class="form-control" id="maKhoa" name="maKhoa" required>
                            <option value="" disabled selected>Chọn khoa</option>
                            <th:block th:each="khoa : ${DSKhoa}">
                                <option th:value="${khoa.maKhoa}" th:text="${khoa.maKhoa}"
                                		 th:selected="${khoa.maKhoa == DSLopHoc.maKhoa}"></option>
                            </th:block>
                        </select>
                    </div>
                  <button type="submit" class="btn btn-primary">Cập nhật</button>
                  <a href="/LopHoc/all" class="btn btn-secondary">Hủy</a>
              </form>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/js/custom.js"></script>     
    <!-- JavaScript để hiển thị hộp thoại xác nhận -->
    <script src="/js/function.js"></script>
</body>
</html>
